.testimonial {
  background-color: white;
  box-shadow: $box-shadow-secondary;
  color: rgb(87, 85, 85);
  padding: 1rem 0rem 0rem;
  border-radius: 10px;
  position: relative;
  max-width: 35rem;
  min-height: 15rem;
  border: 1px solid rgba(167, 167, 167, 0.459);
  overflow: hidden;
  margin: 2rem auto 6rem;
  display: flex;
  align-items: center;

  .testimonial-text {
    // padding: 0 3rem 3rem;
    font-weight: 500;
    text-align: center;
    font-size: .9rem;
    padding: 1.5rem 0.5rem 3.5rem;
  }

  .testimonial-name {
    display: block;
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0;
    background-color: $color__accent;
    width: 100%;
    padding: 0.3rem 0;
    font-weight: 600;
    color: white;
    font-size: 1rem;
  }

  &::after {
    content: "❞";
    margin: 0;
    padding: 0;
    font-size: 3rem;
    position: absolute;
    bottom: 1rem;
    right: 0.5rem;
  }

  &::before {
    content: "❝";
    margin: 0;
    padding: 0;
    font-size: 3rem;
    position: absolute;
    top: 0;
    left: 0.5rem;
  }
}

.testimonial-container h3 {
  display: none;
}
