$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-section: #e6e6e6;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #0b2134;
$color__link-icon: #e6e6e6;
$color__link-visited: #557ea5;
$color__link-hover: #557ea5;
$color__text-main: #404040;
$color__link-text: #e6e6e6;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// Fetch Custom Colors
$color__primary: #0b2134; // background for header/footer
$color__secondary: #24537e;

$color__text: #ffffff; // text for all pages
$color__text-dark: #0b2134; // text for all pages

$color__accent: #01315f;

$color__logo__text: #e6e6e6;
$color__menu: #e6e6e6;

// CTA Colors

$color__CTA-secondary: #553e6a;
$color__CTA-primary: #b7ae2b;

// Woocommerce Message Colors

$color__WMC-secondary: red;
$color__WMC-primary: #666;

// Box & Text Shadows

$box-shadow-secondary: rgba(0, 0, 0, 0.25) 0px 0px 15px 5px;
$box-shadow-primary: rgba(0, 0, 0, 0.35) 0px 5px 15px;

$text-shadow: 1px 3px 5px rgba(150, 150, 150, 0.528);

// Header Border Color
$color__border-bottom: #01315f;
