.page-id-14 {
  .entry-content {
    padding-top: 0;
    padding-bottom: 3rem;

    .ig-h2 {
      text-align: center;
      padding-top: 2rem;
    }
  }

  .entry-title {
    display: none;
  }

  .home {
    h2 {
      font-size: 1.75rem;
    }
  }

  .ig-h2 {
    padding-top: 2rem;
    text-align: center;
    margin: 0 auto;
  }
}
